
ul li
{
	list-style:none;
	color:#00C;
}
a:link
{
	text-decoration:none;
	color:#069;
	}
a:hover
{
	color:#C0F;
}
.Tieude_danhmuc
{
	height:30px;
	background:#30F;
	text-transform:uppercase;
	padding:5px 0px 0px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	box-shadow:0px 0px 5px;
	overflow:hidden;
	color:#FFF;
	border-bottom-right-radius:8px;
	border-top-left-radius:8px;	
}

.danhmuc
{
	height:auto;
	border-radius:5px;
	border:1px solid #98FEEF;
	overflow:hidden;
	
}
.danhmuc a
{
	color:#FFF;
}
.danhmuc a:hover
{
	color:#000;
}
.danhmuc ul li
{
	padding:4px 8px;
	background:#33F;
	border-top:1px solid #CCF;
	list-style:none;

}
.danhmuc ul li:hover
{
	background:#B0F7D6;
}
